
        body {
            background-color: rgb(11, 167, 219);
           font-size: 20px; 
           display:inline-block;
        }
        h1 {
            text-align: center;
            color: blue;
            font-size: 50px;
            font-style: italic;
        }
        
        p {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 20px;
            margin: 0 auto;
            width: 60%;
        }
        div {
            background-color: rgb(0, 0, 0);
            font-style: italic;
            display: block;
            padding: 20px;
            margin: 20px auto;
            border-radius: 10px;
            width: 80%;
        }
   